<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Datastar Todo App</title>
    <script type="module" src="static/js/datastar.js"></script>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <h1>Datastar Todo App</h1>
    <div data-on-load="@get('{{ api_url }}/tasks')">
      <div data-signals='{"access_token": "{{ access_token }}"}'></div>
      <!-- Controls -->
      <button
        data-on:click="@get('{{ api_url }}/tasks', {headers: {Authorization: 'Bearer ' + $access_token}, filterSignals: { exclude: '.*'}})"
      >
        Refresh
      </button>
      <button>New</button>
      <a href="/auth/logout" class="button logout">Log Out</a>
    </div>
    <div>
      <!-- Todos -->
      <!-- {{ access_token }} -->
    </div>
  </body>
</html>
