<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Datastar Todo App</title>
    <script type="module" src="static/js/datastar.js"></script>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <h1>Datastar Todo App</h1>
    <div>
      <!-- Controls -->
       <button data-on:click="@get('http://localhost:8000/tasks')">Refresh</button>
       <button>New</button>
    </div>
    <div>
      <!-- Todos -->
    </div>
  </body>
</html>
