<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <div class="container">
      <img
        src="https://cdn.auth0.com/quantum-assets/dist/latest/logos/auth0/auth0-lockup-en-ondark.png"
        alt="Auth0 Logo"
        class="logo"
      />
      <h1>Welcome to Auth0 FastAPI</h1>
      <div class="action-card">
        <p class="action-text">Get started by signing in to your account</p>
        <a href="/auth/login" class="button login">Log In</a>
      </div>
    </div>
  </body>
</html>
