<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks - A Datastar Application</title>
    <!-- <script type="module" src="/static/js/datastar.js"></script> -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.2/bundles/datastar.js"
    ></script>
  </head>
  <body>
    <h1>Tasks - A Datastar Application</h1>
    <!-- auth0 logout typically involves a redirect chain to the 
     identity provider, which fundamentally doesn't work with AJAX. 
     Use normal browser navigation (anchor, form, or window.location) 
     for logout actions -->
    <button
      class="button logout"
      data-on:click="window.location.href='/auth/logout'"
    >
      Logout
    </button>
    <!-- <a href="/auth/logout" class="button logout">Log Out</a> -->

    <!-- Signals for form state -->
    <!-- <div data-signals='{"taskName": "", "taskDescription": ""}'></div> -->

    <div id="task-list" data-init="@get('/tasks/fragments/list')">
      Loading...
    </div>
  </body>
</html>
