<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks - A Datastar Application</title>
    <!-- <script type="module" src="/static/js/datastar.js"></script> -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.2/bundles/datastar.js"
    ></script>
  </head>
  <body>
    <h1>Tasks - A Datastar Application</h1>
    <h2>Hello {{ user.username }}</h2>
    <!-- auth0 logout typically involves a redirect chain to the 
     identity provider, which fundamentally doesn't work with AJAX. 
     Use normal browser navigation (anchor, form, or window.location) 
     for logout actions -->
    <button
      class="button logout"
      data-on:click="window.location.href='/auth/logout'"
    >
      Logout
    </button>
    <div data-signals='{"showAddTaskForm": false}'></div>
    <button data-on:click="$showAddTaskForm = true">Add Task</button>

    <!-- Signals for form state -->
    <div
      data-signals='{ 
        "name": "",
        "description": "",
        "user_id": "{{ user.id }}"
      }'
    >
      <div data-show="$showAddTaskForm">
        <form
          data-on:submit__prevent="@post('/tasks/fragments/create',
          {
            filterSignals: {
              include: /^(name|description|user_id)$/
            },
            selector: '#tasks-container',
            merge: 'append',
          });
          $showAddTaskForm = false;
          $name = '';
          $description = '';
        "
        >
          <label for="task-name">Task Name</label>
          <input
            data-bind="name"
            name="task-name"
            type="text"
            placeholder="Enter task name"
          />
          <label for="task-description">Description</label>
          <textarea
            data-bind="description"
            name="task-description"
            placeholder="Enter description"
          ></textarea>
          <button type="submit">Create Task</button>
          <button data-on:click="$showAddTaskForm = false">Cancel</button>
        </form>
      </div>
    </div>

    <div id="task-list" data-init="@get('/tasks/fragments/list')">
      Loading...
    </div>
  </body>
</html>
